<p>
    <span
        >Áp dụng phương pháp giáo dục Montessori với giá trị cốt lõi:
        <span class="highlight">TÔN TRỌNG – TỰ DO – YÊU THƯƠNG</span>; Nơi Con
        được <span class="highlight">LẮNG NGHE VÀ CHIA SẺ</span>.</span
    >
</p>
<p><br /></p>
<p class="list-ordering">
    <span class="list-title">1. Tôn trọng: </span>
</p>
<p>
    <span
        >Trong môi trường, trẻ và người lớn tôn trọng lẫn nhau cũng như tôn
        trọng mọi vật xung quanh.</span
    >
</p>
<p class="list-ordering">
    <span class="list-title">2. Tự do</span>
</p>
<p>
    <span
        >Trẻ được tự do di chuyển trong môi trường, tự do lựa chọn học cụ phù
        hợp với năng lực và theo sự sẵn sàng của trẻ cũng như tự do trong việc
        làm việc cùng học cụ bao lâu tùy theo mong muốn của trẻ.</span
    >
</p>
<p class="list-ordering">
    <span class="list-title">3. Yêu thương</span>
</p>
<p>
    <span
        >Môi trường luôn đề cao sự yêu thương. Trẻ và người lớn chung sống hài
        hòa và thể hiện tình cảm yêu thương, chia sẻ cùng với nhau.</span
    >
</p>
<p><br /></p>
